/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #865DFF, #13005A);
    color: #03C988;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: #03C988;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header Styles */
header {
    background: linear-gradient(to top, #865DFF, #13005A);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 1px 1px 5px #13005A;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.logo h1 {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Share Tech Mono', monospace;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #03C988;
    font-size: 18px;
    font-weight: bold;
}

/* Content Styles */
.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.about-us {
    min-height: calc(100vh - 230px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.about-us .info p {
    font-size: 18px;
    line-height: 1.7;
    color: #03C988;
    background-color: #222;
    border-radius: 23px;
    box-shadow: 1px 1px 5px #03C988;
    padding: 20px;
    text-align: center;
    max-width: fit-content;
}

/* Footer Styles */
footer {
    background-color: #222;
    color: #03C988;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Login Form Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    height: 400px;
    width: 480px;
    border-radius: 60px;
    box-shadow: 1px 1px 5px #03C988;
    padding: 23px;
    margin: 60px auto;
}

input[type="text"],
input[type="password"] {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #03C988;
    background-color: #444;
    color: #fff;
}
.password-container input {
    width: calc(100% - 40px); /* Adjusted width to accommodate the icon */
}
button{
    width: 320px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #03C988;
    color: #222;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #02b878;
}

/* Banner Styles */
#banner {
    background-size: cover;
    color: #03C988;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    z-index: -1;
}

/* Slideshow */
.slide {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Developer Section */
.jay, .arsh {
    display: flex;
    align-items: center;
}

.jay img, .arsh img {
    margin-right: 10px;
    border-radius: 90px;
}

#developed-by {
    padding-top: 20px;
}